.card {
    background-color: #EFEDF1 !important;
    height: 190px;
    margin-top: 20%;
}
.text {
    font-size: 5rem;
    color: #493C46;
}
.colot-text {
    color: #493C46;
}

.colot-text:hover {
    text-decoration: none;
    color: #998995;
}