.modal-wrapper {
    background-color: white;
    border: 1px solid #d0cccc;
    border-radius: 1% !important;
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17); */
    margin: 100px auto 0;
    transition: all .8s;
    width: 40%;
    position: fixed;
    height: auto;
    top: -55%;
    right: 0;
    left: 0;
    position: absolute;
    font-weight: normal;
}
.modal-header {
    background: #493C46;
    height: 65px;
    line-height: 40px;

    padding: 5px 20px;
    text-align: right;
}

.modal-header h3 {
    color: white;
    /* float: left; */
    margin: 0;
    padding: 0;
}

.modal-body {
    padding: 10px 15px;
    text-align: center;
}

.modal-footer {
    background: #493C46;
    height: 65px;
    padding: 15px;
}

.close-modal-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
}

.close-modal-btn:hover {
    color: black;
}

.btn-cancel, .btn-continue {
    background: coral;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
}

.btn-cancel {
    background-color: #b71c1c;
    float: left;
}

.btn-continue {
    background-color: #1b5e20;
    float: right;
}

.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100vh;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
    top: 0;
    right: 0;
}

.open-modal-btn {
    margin: 15px;
    padding: 10px;
    font-weight: bold;
}

.modal-position {
    position: fixed;
}

@media only screen and (max-width: 768px) {
    
    .modal-wrapper {
        width: 100%;
    }

}