.card {
    margin-top: 10%;
    margin-bottom: auto;
    width: 500px;
}

.social-icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #998995;
}

.social-icon span:hover {
    color: #493C46;
    cursor: pointer;
}

.color-button {
    background-color: #493C46 !important;
    border: 0;
    color: #EFEDF1 !important;
}

.error-message {
    width: 100%;
    color: red;
    font-size: 12px;
    display: inline-block;
    margin: 5px 0 0;
}