.navbar-color {
    background-color: #493C46;
    color: #EFEDF1;
}

div ul li div a {
    color: #EFEDF1;
}

div ul li div a:hover {
    color: blanchedalmond;
    text-decoration: none;
}

.button-login {
    background-color: inherit;
    border-color: #CCC4D3;
    color: #CCC4D3;
    border-radius: 1px;
    border: solid 1px;
    height: 2.5rem;
    width: 6.5rem;
}

.button-login:hover {
    background-color: #CCC4D3;
    color: #493C46;
    cursor: pointer;
}

.color-icon {
    background-color: #CCC4D3;
    color: #CCC4D3;
}